:root {
  --primeColor: #3de8eb;
  --thirdColor: #60f634;
  --secondColor: #4f34f6;
  --myGradient: linear-gradient(
    /* to bottom left, */ to left,
    var(--secondColor),
    var(--primeColor),
    var(--thirdColor)
  );
}

.App {
  text-align: center;
  align-items: center;
}

#landingPageContainer {
  width: 100vw;
  height: 900px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.child {
  height: 100px;
  width: 100px;
}

#svgContainer {
  width: 100vw;
  height: 100vh;
}

#titleTextContainer {
  margin-top: -35%;
  z-index: 1;
  background-color: white;
  padding: 1%;
  border: 1px solid grey;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11),
    0 4px 4px rgba(0, 0, 0, 0.11), 0 6px 8px rgba(0, 0, 0, 0.11),
    0 8px 16px rgba(0, 0, 0, 0.11);
  transition: all 1s;
}

#titleTextContainer:hover {
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.09), 0 4px 2px rgba(0, 0, 0, 0.09),
    0 8px 4px rgba(0, 0, 0, 0.09), 0 16px 8px rgba(0, 0, 0, 0.09),
    0 32px 16px rgba(0, 0, 0, 0.09);
  transform: scale(1.05);
  transition: all 900ms;
}

#landingTextData {
  background: var(--myGradient);
  font-size: 50px;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-size: 300%;
  background-position: right;
  animation: colorShift 10s infinite alternate;
}

@keyframes colorShift {
  0% {
    background-position: right;
  }

  100% {
    background-position: left;
  }
}

.circle {
  animation: circleMove 10s infinite alternate;
  filter: blur(3px);
  transition: all 500ms;
}

.circle_primary:hover {
  filter: blur(0px);
  fill: var(--primeColor);
  transition: all 700ms;
}

.circle_secondary:hover {
  filter: blur(0px);
  fill: var(--secondColor);
  transition: all 700ms;
}

.circle_third:hover {
  filter: blur(0px);
  fill: var(--thirdColor);
  transition: all 700ms;
}

#headerContainer {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 2em;
  position: fixed;
  top: 0;
  width: 100%;
  transition: 0.2s;
}

.headerLink {
  background-color: tomato;
  font-size: 20px;
  margin-right: 2em;
  padding: 0.5%;
}
