:root {
  --primeColor: #3de8eb;
  --thirdColor: #60f634;
  --secondColor: #4f34f6;
  --myGradient: linear-gradient(
    /* to bottom left, */ to left,
    var(--secondColor),
    var(--primeColor),
    var(--thirdColor)
  );
}

.App {
  text-align: center;
}

#titleTextContainer {
}

#landingTextData {
  background: var(--myGradient);
  font-size: 50px;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-size: 300%;
  background-position: right;
  /* animation: colorShift 15s infinite alternate; */
}

@keyframes colorShift {
  0% {
    background-position: right;
  }

  100% {
    background-position: left;
  }
}

.circle {
  animation: circleMove 10s infinite alternate;
  filter: blur(3px);
  transition: all 500ms;
}

.circle:hover {
  filter: blur(0px);
  fill: red;
  transition: all 700ms;
}

@keyframes squareMove {
  0% {
    transform: translate(0px, 0);
    fill: black;
  }

  100% {
    transform: translate(200px, 0);
    fill: green;
  }
}
