:root {
  --primeColor: #3de8eb;
  --thirdColor: #60f634;
  --secondColor: #4f34f6;
  --myGradient: linear-gradient(
    /* to bottom left, */ to left,
    var(--secondColor),
    var(--primeColor),
    var(--thirdColor)
  );
}

.App {
  text-align: center;
}

#titleTextContainer {
}

#landingTextData {
  background: var(--myGradient);
  font-size: 50px;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-size: 300%;
  background-position: right;
  /* animation: colorShift 15s infinite alternate; */
}

@keyframes colorShift {
  0% {
    background-position: right;
  }

  100% {
    background-position: left;
  }
}
